@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html{
  height: 100%;
  margin: 0;
}

textarea {
  width: 100%;
}




.input1{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 20px;
  border: 2px solid lightgray;
}

.input2{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 15px;
  border: 2px solid lightgray;
}

.input3{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 15px;
  border: 2px solid lightgray;
}
.input4{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 15px;
  border: 2px solid lightgray;
}

.input5{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 15px;
  border: 2px solid lightgray;
}

.input6{
  width: 180px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 15px;
  border: 2px solid lightgray;
}

.mat-card-content>:last-child:not(.mat-card-footer), .mat-card>:last-child:not(.mat-card-footer) {
  margin-bottom: 0px;
  margin-left: 500px;
}

.mat-card[_ngcontent-c2] {
  color:yellow;
  font-weight: 800;
  background: bottom;
  background-color: crimson;
}
.mat-card[_ngcontent-c7] {
  background: #fff;
  color: yellow;
  background: crimson;
  font-weight: 800;
}