@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.background{
  background-image: url(/assets/images/Sports18.jpg);
    color: rgb(214, 37, 37);
    text-indent: 10px;
    width: 1245px;
    height: 100%;
    padding-top: 11px;
    text-align: left;
    font-weight: bold;
    background-color: black;
    margin-bottom: -40px;
}
#header{
  height: 50px;
}

.mat-raised-button[_ngcontent-c0]:not([class*=mat-elevation-z]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-right: 4%;
  color: darkgoldenrod;
  background-color: darkslategrey;
  text-shadow: -6px 5px 20px black;
}
.button,
button a {
  text-indent: 50px;
  border: none;
  color: white;
  padding: 16px 22px;
  text-align: center;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}


.button :hover{
color: white;
}

/*
.Buttons{
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.mat-button1
{
  background-color:white;
  border:1px solid rgb(15, 83, 172);
}
.mat-button1 :hover {
  background-color: rgb(15, 83, 172);
  color:white;
  fill: darkblue;
}
*/